@model IEnumerable<Employee_Department.Models.View_Model.EmployeeDepartmentSummaryView>

@{
    ViewData["Title"] = "EmployeeRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <h1 class="text-info text-black center p-1 border border-dark">Recovery Detail's</h1>
            </div>
            <table class="table table-bordered text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>EmployeeID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Gender</th>
                        <th>DepartmentID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <td>@d.EmployeeId</td>
                            <td>@d.FirstName</td>
                            <td>@d.LastName</td>
                            <td>@d.Gender</td>
                            <td>@d.DepartmentId</td>
                            <td>
                                <a asp-action="RecoverEmployee" asp-route-id="@d.EmployeeId" class="btn btn-success btn-sm">Recover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6">
                    <a class="btn-sm btn-warning m-1 p-2" asp-action="Index" asp-controller="Home">Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
